body {
    background-color:#ddd;
}
#bio-image{
    height: 500px;
    width: 200px;
    
}
.navbar{
    float: right;
}
.name {
    margin: 0%;
    float: left;
    text-align: left;
    background-color: #4aaaa5;
    color: #fff;
    padding: 7px;

}
.about-me1 {
   width: 50%;
   float: right;
    margin: 13px;
}
a {
    color: #777;
    text-decoration: none;
}
.container {
    background-color: #fff;
    width: 80%;
    margin: 28px;
}
.about-me{
    color: #4aaaa5;
}